.profileMain {
    width: 200%;
    max-width: 1200px;
    margin-top: 3rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2.5rem;
    border: 1px solid #e5e7eb; 
}
.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.edit {
    cursor: pointer;
}
.edit:hover,
.edit:active {
    text-decoration: underline;
}
.password {
    margin-left: 20px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000000;
    border-radius: 10px;
}
.password:hover{
    background-color: rgb(243,244,246); 
    transition-duration: 0.2s;
}
.buttonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;;
}
.back {
    cursor: pointer;
}
.back:hover,
.back:active {
    text-decoration: underline;
}